<a href="https://colab.research.google.com/github/thirdK/ai/blob/main/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#인덱싱 (슬라이싱)
s = "world"
print(s[2])
print(s[-1]) #-1은 마지막 index를 가리킨다.

ss = "990212-2345243"
print(ss[7]) #하나만 추출할 때 indexing
addr = "서울시 강남구 역삼동 1번지"
print(addr[4:7]) #여러개를 추출할 때 slicing

r
d
2
강남구

In [3]:
list = [1,2,3,4,5]
print(list)

score = [80, 90, 70, 60]
print(score)

print(score[0])
print(score[1:3])

score[0] = 100;
print(score)

list_a = [1,2,3]
list_b = [4,5,6]
print("list_a = ", list_a)
print("list_b = ", list_b)

print(list_a + list_b)
print(list_a * 3)
print(len(list_a))

[1, 2, 3, 4, 5]
[80, 90, 70, 60]
80
[90, 70]
[100, 90, 70, 60]
list_a =  [1, 2, 3]
list_b =  [4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
3

In [10]:
list = []
list.append(90)
list.append(60)
list.append(30)
print(list)
list.insert(0, 10)
print(list)

[90, 60, 30]
[10, 90, 60, 30]

In [14]:
list_a = [1, 2, 3]
list_a.extend([4, 5, 6])
list_a

[1, 2, 3, 4, 5, 6]

In [16]:
list_a = [1, 2, 3]
list_b = [4, 5, 6]
list_a + list_b

[1, 2, 3, 4, 5, 6]

In [18]:
list_a = [0,1,2,3,4,5]
del list_a[1]
list_a

[0, 2, 3, 4, 5]

In [19]:
list = [222,434, 65, 123, 547, 876]
222 in list

True