<a href="https://colab.research.google.com/github/thirdK/ai/blob/main/02HW20220126%EC%9E%84%ED%83%9C%EC%A2%8532.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
#051
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [11]:
#052
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [13]:
#053
movie_rank = ["닥터 스트레인지", "스플릿", "럭키", "배트맨"]
movie_rank.insert(1,"슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [17]:
#054
movie_rank = ["닥터 스트레인지", "슈퍼맨", "스플릿", "럭키", "배트맨"]
movie_rank.remove("럭키")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [21]:
#055
movie_rank = ["닥터 스트레인지", "슈퍼맨", "스플릿", "배트맨"]
del movie_rank[2]
del movie_rank[-1]

print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [23]:
#056
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [28]:
#057
nums = [1,2,3,4,5,6,7]

print("max:",max(nums))
print("min:",min(nums))

max: 7
min: 1

In [14]:
#058
nums = [1,2,3,4,5]

#sum_nums = sum(nums)
sum_nums = nums[0] + nums[1] + nums[2] + nums[3] + nums[4]

print(sum_nums)

15

In [11]:
#059
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [4]:
#060
nums = [1,2,3,4,5]
sum_nums = sum(nums)
aver = sum_nums / len(nums)

print(aver)

3.0

In [15]:
#121
eng = input("영문자 입력 >> ")
if eng.islower():
  print(eng.upper())
else:
  print(eng.lower())

영문자 입력 >> A
a

In [20]:
#122
score = int(input("score : "))

if score > 80:
  grade = 'A'
elif score >60:
  grade = 'B'
elif score >40:
  grade = 'C'
elif score >20:
  grade = 'D'
else:
  grade = 'E'

print(f"grade is {grade}")

score : 12
grade is E

In [2]:
#123
money = input("입력 >> ")

num = int(money[:-2]) #공백을 이용하여 뒤에서 2번째까지 제외하고 나머지는 정수로 형변환

if "달러" in money:
  ex = 1167
elif "엔" in money:
  ex = 1096
elif "유로" in money:
  ex = 1268
elif "위안" in money:
  ex = 171
else:
  print("잘못입력됨!")
  num=0               #잘못입력되면 0원으로 표시되도록 num에 0

print(f"{num*ex}원")

입력 >> 100 달러
116700원

In [3]:
#124
num1 = int(input("input number1 >> "))
num2 = int(input("input number2 >> "))
num3 = int(input("input number3 >> "))

# List와 max()함수 사용
num_list = [num1, num2, num3]
print(max(num_list))

# if문 사용

# max = num1

# if num2 > max:
#   max = num2

# if num3 > max:
#   max = num3

# print(max)

input number1 >> 4
input number2 >> 9
input number3 >> 2
9

In [7]:
#125
phone_num = input("휴대전화 번호 입력 >> ")

num_key = phone_num[:3]

dict_com = {"011": "SKT",
            "016": "KT",
            "019": "LGU",
            "010": "알수없음"
            }
print(f"당신은 {dict_com[num_key]} 사용자입니다.")

휴대전화 번호 입력 >> 011-123-1234
당신은 SKT 사용자입니다.

In [15]:
#126
p_num = input("우편번호 >> ")

if int(p_num[2]) < 3:
  print("강북구")
elif int(p_num[2]) < 6:
  print("도봉구")
elif int(p_num[2]) < 10:
  print("노원구")

우편번호 >> 01234
강북구

In [25]:
#127
id_num = input("주민등록번호 >> ")

check = int(id_num[-7])

if check == 1 or check ==3:
  print("남자")
elif check ==2 or check ==4:
  print("여자")
else:
  print("잘못된입력!")

주민등록번호 >> 1231233
1
남자

In [31]:
#128
id_num = input("주민등록번호 >> ")

check = int(id_num[-6:-4])

if check < 9:
  print("서울 입니다.")
else:
  print("서울이 아닙니다.")

주민등록번호 >> 910625-1234567
23
서울이 아닙니다.

In [32]:
#129 반복문필요

In [40]:
#130
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

# btc["opening_price"]  #시가
# btc["closing_price"]  #종가
# btc["min_price"]      #저가
# btc["max_price"]      #고가

check = int(btc["max_price"]) - int(btc["min_price"]) #변동폭 정수형
open_p = int(btc["opening_price"])  #시가 정수형
max_p = int(btc["max_price"]) #고가 정수형

if (check + open_p) > max_p:
  print("상승장")
else:
  print("하락장")

상승장