In [3]:
#211
#결과 예측

#안녕
#Hi

In [5]:
#212
#결과 예측

# 7
# 15

In [6]:
#213
#함수의 선언에서 1개의 문자열 매개변수를 받도록 했는데
#함수 호출을 할 때 인수를 넘겨주지 않았다.

In [11]:
# 214
#예제에서 선언한 함수의 기능은 2개의 값을 받아 더해서 출력을 하는데
#함수 호출에서 정수, 문자열 형태의 값을 넘겨주어  + 연산이 불가능하다.

In [15]:
#215
def print_with_smile(args):
    print(args+":D")

In [17]:
#216
print_with_smile("안녕하세요")

안녕하세요:D

In [27]:
# 217
def print_upper_price(args):
    print(f'{args*1.3}원')

print_upper_price(10000)

13000.0원

In [28]:
#218
def print_sum(a,b):
    print(a+b)
    
print_sum(4,5)

9

In [30]:
# 219
def print_arithmetic_operation(a,b):
    print(a+b)
    print(a-b)
    print(a*b)
    print(a/b)

print_arithmetic_operation(5,8)

13
-3
40
0.625

In [33]:
#220
def print_max(a,b,c):
    maxN = a
    if maxN < b:
        maxN = b
    if maxN < c:
        maxN = c
    print(maxN)
    
print_max(4,5,7)

7

In [57]:
#221
def print_reverse(st):
    rv = ''
#     for i in range(len(st)-1,-1,-1):
#         rv += st[i]
#     print(rv)
    for i in st:
        rv = i + rv
    print(rv)
    
print_reverse('python')

nohtyp

In [74]:
#222
def print_score(args):
    total=0
    for i in args:
        total += i
    print(total/len(args))

    
print_score([1,2,3,4,5])

3.0

In [76]:
#223
def print_even(lst):
    for i in lst:
        if i%2 == 0:
            print(i)

print_even([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [88]:
#224
def print_keys(dt):
    lst = list(dt.keys())
    for i in lst:
        print(i)
    
print_keys({"이름" : "김말똥", "나이":30,"성별":0})

이름
나이
성별

In [90]:
#225
def print_value_by_key(args1, args2):
    print(args1[args2])
    
    
my_dict = {"10/26":[100, 130, 100, 100],
          "10/27":[10,12,10,11]}

print_value_by_key(my_dict, '10/26')

[100, 130, 100, 100]

In [109]:
#226
def print_5xn(args):
    st=''
    for i in args:
        st += i
        if len(st) == 5:
            print(st)
            st=''
    if(st != None):
        print(st)
    
    
print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸
d

In [117]:
#227
def print_mxn(args,m):
    st=''
    for i in args:
        st += i
        if len(st) == m:
            print(st)
            st=''
    if(st != None):
        print(st)
        
print_mxn("아이엠어보이유알어걸",3)

아이엠
어보이
유알어
걸

In [126]:
#228
def calc_monthly_salary(annual_salary):
    print(f'{int(annual_salary/12)}원')
    
calc_monthly_salary(1200000)

100000원

In [127]:
#229
#왼쪽: 100
#오른쪽: 200

In [129]:
# 230
# 왼쪽: 200
# 오른쪽: 100