In [3]:
#231
#에러가 난다.
#result 변수는 n_plus_1() 함수의 지역변수이기 때문에 함수 밖에서는 유효하지 않는다.

In [7]:
#232
def make_url(args):
    st = f'www.{args}.com'
    return st

make_url('naver')

# make_url2 = lambda args: f'www.{args}.com'
# make_url2('naver')

'www.naver.com'

In [41]:
#233

def make_list(args):
    result = []
    for i in args:
        result.append(i)
    return result

make_list('abcd')


# def make_list(args):
#     result = list(args)
#     return result


# make_list1 = lambda args: list(args)

['a', 'b', 'c', 'd']

In [40]:
#234
def pickup_even(lst):
    result = [i for i in lst if i%2==0]
    return result

pickup_even([3,4,5,6,7,8])


# lst_test = [i for i in range(100)]
# test = lambda lst: [i for i in lst if i%2==0]
# print(test(lst_test))

[4, 6, 8]

In [71]:
#235

def convert_int(args):
    result = ''
    
    for i in args:
        if i != ',':
            result += i
    return int(result)
convert_int('1,234,567')

# def convert_int(args):
#     result = ''
    
#     for i in args:
#         try:
#             int(i)
#             result += i
#         except:
#             pass
#     return int(result)
# convert_int('1,234,567')

1234567

In [55]:
#236
#출력결과 예측
# 22

In [56]:
#237
#출력결과 예측
# 22

In [62]:
#238
#출력결과 예측
# 140

In [63]:
#239
#출력결과 예측
# 16

In [64]:
#240
#출력결과 예측
# 28

In [118]:
#291~295는 파일처리
# f = open("C:/Users/dla06/OneDrive/바탕 화면/매수종목1.txt", 'w') 생성 확인
# w는 쓰기 r은 읽기 a는 추가
# 파일 경로 \면 r사용
# f = open(r"C:\Users\dla06\OneDrive\바탕 화면")
# f.write() 작성
# f.close() 열면 닫아야됨

In [124]:
#291
f = open(r"C:\Users\dla06\OneDrive\바탕 화면\매수종목1.txt", 'w')
f.write('005930\n\n005380\n\n035420')
f.close()

In [125]:
#292
with open(r"C:\Users\dla06\OneDrive\바탕 화면\매수종목2.txt", 'w') as f:
    f.write('005930 삼성전자\n\n005380 현대차\n\n035420 NAVER')
#with는 알아서 닫아줌

In [126]:
#293 엑셀 작성

In [140]:
#294
lst = list()
f = open(r"C:\Users\dla06\OneDrive\바탕 화면\매수종목1.txt", 'r')

lines = f.readlines()
for i in lines:
    if i != '\n':
        lst.append(i.strip())

print(lst)


# while True:
#     line = f.readline()
#     if not line: 
#         break
#     lst.append(line.strip())

# lines = f.readlines()
# for i in lines:
#     lst.append(i.strip())

# data = f.read()
# print(data)
# f.close()

['005930', '005380', '035420']

In [145]:
# 295
lst = list()
dc = dict()
f = open(r"C:\Users\dla06\OneDrive\바탕 화면\매수종목2.txt", 'r')

lines = f.readlines()
for i in lines:
    if i != '\n':
        lst = i.strip().split(' ')
        dc[lst[0]] = lst[1]

print(dc)

{'005930': '삼성전자', '005380': '현대차', '035420': 'NAVER'}

In [75]:
#296
per = ['10.31', '', '8.00']

for i in per:
    try:
        print(float(i))
    except:
        print('0')
        
# def fc_per(lst):
#     for i in lst:
#         try:
#             print(float(i))
#         except:
#             print('0')

# fc_per(per)

10.31
0
8.0

In [86]:
# 297
per = ['10.31', '', '8.00']
lst = []
for i in per:
    try:
        print(float(i))
        lst.append(float(i))
    except:
        pass

print(lst)

# def fc_per(per):
#     lst = list()
#     for i in per:
#         try:
#             print(float(i))
#             lst.append(float(i))
#         except:
#             pass
#     return lst

# print(fc_per(per))

10.31
8.0
[10.31, 8.0]

In [91]:
#298
def fc_zero(num):
    lst = [i for i in range(10)]
    for i in lst:
        try:
            print(f'{num}/{i} >> {num/i:0.2}')
        except ZeroDivisionError:
            print('0으로는 나눌 수 없습니다.')

num = int(input('0~10으로 나눌 정수입력 >> '))
fc_zero(num)

0~10으로 나눌 정수입력 >> 4
0으로는 나눌 수 없습니다.
4/1 >> 4.0
4/2 >> 2.0
4/3 >> 1.3
4/4 >> 1.0
4/5 >> 0.8
4/6 >> 0.67
4/7 >> 0.57
4/8 >> 0.5
4/9 >> 0.44

In [95]:
#299

data = [1,2,3]

for i in range(5):
    try:
        print(data[i])
    except IndexError as e:
        print(f'{e} --> 인덱스 범위 초과!!')

1
2
3
list index out of range --> 인덱스 범위 초과!!
list index out of range --> 인덱스 범위 초과!!

In [117]:
#300
per = ['10.31', '', '8.00', 'aa', '12.5', '바보','98.45']
lst = list()
for i in per:
    try:
        float(i)
    except:
        print(f'{i}는 실수가 아닙니다!')
    else:
        print(f'{i}는 실수입니다!')
        lst.append(float(i))
    finally:
        print(f'누적 결과 >> {lst}\n')

10.31는 실수입니다!
누적 결과 >> [10.31]

는 실수가 아닙니다!
누적 결과 >> [10.31]

8.00는 실수입니다!
누적 결과 >> [10.31, 8.0]

aa는 실수가 아닙니다!
누적 결과 >> [10.31, 8.0]

12.5는 실수입니다!
누적 결과 >> [10.31, 8.0, 12.5]

바보는 실수가 아닙니다!
누적 결과 >> [10.31, 8.0, 12.5]

98.45는 실수입니다!
누적 결과 >> [10.31, 8.0, 12.5, 98.45]

In [170]:
#이진탐색
#정렬이 되어있고 반으로 나눠서 비교
def b_search(lst, target):
    head = 0
    tail = len(lst)-1

    while head <= tail:
        center = int((head+tail)/2)
        if target == lst[center]:
            result = f'{center}번 index요소와 일치'
            return result
        elif target > lst[center]:
            head = center + 1
        else:
            tail = center - 1
    result = "찾지 못했습니다."        
    return result


lst = [i for i in range(24,100)]
print(f'{lst[0]}~{lst[-1]}까지의 데이터')
target = int(input('찾을 정수를 입력 >> '))

print(b_search(lst, target))

24~99까지의 데이터
찾을 정수를 입력 >> 55
31번 index요소와 일치