In [1]:
def print_3():
    print('hi')
    print('hi')
    print('hi')
    
print_3()

hi
hi
hi

In [2]:
def print_3(val):
    print(val)
    print(val)
    print(val)
    
print_3('hello')

hello
hello
hello

In [3]:
def print_3(val,n):
    for i in range(n):
        print(val)
    
print_3('hello',5)

hello
hello
hello
hello
hello

In [4]:
#가변 매개 변수

def print_n_times(n,*val):
    for i in range(n):
        for v in val:
            print(v)
        print()

print_n_times(3,'hi', 'hello', 'good morning')
print_n_times(3,'hi')

hi
hello
good morning

hi
hello
good morning

hi
hello
good morning

hi

hi

hi

In [34]:
def sum_all(*val):
    total = 0
    print(sum(val))
    
    for i in val:
        total += i
    print(total)

sum_all(1,2,3,4)

10
10

In [19]:
def print_n_times(val, n=2):
    for i in range(n):
        print(val)
    

print_n_times('good morning',3)
print_n_times('hi')

good morning
good morning
good morning
hi
hi

In [38]:
def test(a, b=10, c=100):
    print(a+b+c)

#기본형태
test(10,20,30)
#모든 매개변수 지정
test(a=10, b=20, c=30)
#순서를 섞어도 지정해서 상관 없음
test(c=30, a=10, b=20)

#일부만 지정
test(10,c=30)

60
60
60
50

In [41]:
def return_test():
    print('A위치입니다.')
    return    #return에서 끝난다.
    print('B위치입니다.')
    
return_test()

A위치입니다.

In [43]:
def return_test():
    return 100    #100반환

return_test()

100

In [50]:
def sum_all(start, end):
    output = 0;
    for i in range(start, end+1):
        output += i
    return output

sum_all(1,100)
sum_all(1,5)

15

In [51]:
#재귀함수 (권장하지 않음)
def hello():    #무한 반복
    print('hi')
    return hello()

In [54]:
#팩토리얼
def facto(n):
    total = 1
    for i in range(1,n+1):
        total *= i
    return total

print('3!:', facto(4))

3!: 24

In [57]:
def facto2(n):
    if n == 0:
        return 1

    return n*facto2(n-1)

print(facto2(5))
#개발자들 사이에서는 재귀함수를 절대 사용하지 말자는 의견도 있다.(예쁜 쓰레기)

120

In [73]:
#피보나치 수열

def fibo(n):
#     if n == 1 or n == 2:
#         return 1
    if n <= 1:
        return n
    return fibo(n-1) + fibo(n-2)
    
fibo(10)

55

In [76]:
#튜플과 함수
# 튜플은 함수의 리턴에 많이 사용된다. 함수의 리턴에 튜플을 사용하게 되면 여러개의 값을
# 리턴하고 할당 할 수 있기 때문이다.

def test():
    return (10,20) #튜플의 소괄호는 생략이 가능하다.

a, b = test()

print(a)
print(b)

10
20

In [83]:
def add(a,b):
    return a+b
a=3
b=4
c= add(a,b)
print(c)

print(add(3,7))

7
10

In [89]:
def add_many(*args):
    result = 0
    
    for arg in args:
        result += arg
    return result

print(add_many(1,2,3))

6

In [112]:
def add_mul(choice, *args):
    if choice == 'add':
        result = 0
        for i in args:
            result+= i
    elif choice == 'mul':
        result = 1
        for i in args:
            result *= i
            
    return result
    
print(add_mul('add',1,2,3,4,5))
print(add_mul('mul',1,2,3))

15
6

In [114]:
#함수의 결과는 언제나 하나이다.(여러개는 튜플 하나)

def add_and_mul(a,b):
    return a+b, a*b

result1, result2 = add_and_mul(3,4)
print(result1)
print(result2)

7
12

In [125]:
def say_myself(name, old, man=True):
    print("나의 이름은 %s 입니다." %name)
    print(f'나의 이름은 {name} 입니다.')
    print('나는 %d살입니다.' %old)
    print(f'나의 이름은 {old} 입니다.')
    if man:
        print('남자입니다.\n')
    else:
        print('여자입니다.\n')
        
say_myself("박을용", 27)
say_myself("박을용", 27, True)
say_myself("박응선", 27, False)

나의 이름은 박을용 입니다.
나의 이름은 박을용 입니다.
나는 27살입니다.
나의 이름은 27 입니다.
남자입니다.

나의 이름은 박을용 입니다.
나의 이름은 박을용 입니다.
나는 27살입니다.
나의 이름은 27 입니다.
남자입니다.

나의 이름은 박응선 입니다.
나의 이름은 박응선 입니다.
나는 27살입니다.
나의 이름은 27 입니다.
여자입니다.

In [130]:
# 지역 변수 local variable 와 전역변수 global vaiable

a = 1
def vartest(a):
    a = a+1
    return a

print(vartest(a))
print(a)

2
1

In [132]:
a=1
def vartest():
    global a
    a = a+1
    
vartest()
print(a)

2

In [134]:
add = lambda a, b: a+b
result = add(3,4)
print(result)

7