<a href="https://colab.research.google.com/github/thirdK/ai/blob/main/Day01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
''' 
작성자 : 홍길동
작성일 : 2022-01-25
버전 : 0.1
'''
# 보통 삼중 따옴표 주석은 여러줄을 
# 주석으로 사용할 때 사용한다.

# 주석 붙이는 위치
print('Hello World') #보통 행의 우측 또는 위에 주석을 붙인다.

In [ ]:
score = 100
print(score)

score = 300
print(score)

In [ ]:
a = 20
b = 1500

student_avg = 20

In [ ]:
name = 'Alice'
age = 25
address = '우편번호 12345 서울시 영등포구 여의도동 서울빌딩 501호'
boyfriend = None
height = 168.5

print(name)
print(age)
print(address)
print(boyfriend)
print(height)

In [ ]:
a = int(1.9)
print(a)
b = int(True)
print(b)
c = int(False)
print(c)

In [ ]:
a = 100
b = '100'
print(type(a))
print(type(b))

print(a)
print(b)
print(a==b)

c = int(b)
print(type(c))
print(a == c)

In [87]:
a = float(1)
print(a)

b = float

1.0

In [91]:
a = bool(0)
print(a)

b = bool()
print(b)

c=bool([])
print(c)

d=bool()
print(d)

False
False
False
False

In [95]:
a = '대한민국'
a = "대한민국"

b = str(100)
print(b)
print(type(b))

c=str(True)
print(c)
print(type(c))

100
<class 'str'>
True
<class 'str'>

In [100]:
#문자열 인덱싱

s = 'Hello'
print(s[4])

print(s[-1])
print(s[-5])
print(s[-5] == s[0])

ss = "990211-1005432"
print(ss[7])

o
o
H
True
1

In [103]:
ss = "990211-1005432"
print(ss[0:7:2])

901-

In [108]:
#print
print("Hello \'World\'")

print("이름 \n전화")

print("이름\t연락처")
print("홍길동\t010-1123-1234")

Hello 'World'
이름
전화
이름	연락처
홍길동	010-1123-1234

In [115]:
print("재미있는", "파이썬")

print("평점", end=':')
print("5점")

재미있는 파이썬
평점:5점

In [118]:
print("국어", "영어", "수학")
print("국어", "영어", "수학", sep = '/')
print("국어", "영어", "수학", sep = ',')
print("국어", "영어", "수학", sep = '\n')
print("국어\n영어\n수학")

국어 영어 수학
국어/영어/수학
국어,영어,수학
국어
영어
수학
국어
영어
수학

In [130]:
print(10)
print('%d 을 입력하세요' % 10)
print('원주율은 %f 입니다.' % 3.14)
print("원주율을 %s 입니다." % 3.14)
print('저는 %s입니다.' % '학생')
std = "대학생"
print('저는 %s입니다.' % std)
print('저는', std, '입니다.')

10
10 을 입력하세요
원주율은 3.140000 입니다.
원주율을 3.14 입니다.
저는 학생입니다.
저는 대학생입니다.
저는 대학생 입니다.

In [131]:
print("%d" % 1)
print("%5d" % 1)
print("%-5d" % 1)
print("%5d"%11)

1
    1
1
   11

In [137]:
print('원주율은 %f 입니다' % 3.14)
print("원주율은 %5.1f 입니다." % 3.14)
print("원주율은 %-5.1f 입니다." % 3.14)
print("원주율은 %.2f 입니다." %3.14)

원주율은 3.140000 입니다
원주율은   3.1 입니다.
원주율은 3.1   입니다.
원주율은 3.14 입니다.

In [141]:
height = 185.5
name = "홍길동"
print("내 키는 %.1f입니다." % height)
print("내 키는 %s입니다." % height)
print("내 키는 %s이고 이름은 %s입니다." % (height, name))

내 키는 185.5입니다.
내 키는 185.5입니다.
내 키는 185.5이고 이름은 홍길동입니다.

In [143]:
height = 185.5
name = "홍길동"
zipcode = '06236'
print("우편번호 : %s" % zipcode)
print("우편번호 : {}".format(zipcode))
print("내 키는 {}이고 이름은 {}입니다.".format(height, name))

우편번호 : 06236
우편번호 : 06236
내 키는 185.5이고 이름은 홍길동입니다.

In [147]:
print("My name is {}. I\'m {} years old.".format('James', 25))
print("My name is {1}. I\'m {0} years old.".format(25, 'James'))
print("My name is {name}. I\'m {age} years old.".format(age=25, name="James"))

My name is James. I'm 25 years old.
My name is James. I'm 25 years old.
My name is James. I'm 25 years old.

In [150]:
who = "you"
how = "happy"
print(f'{who} make me {how}')

age = 25
print(f"내년에는 {age+1} 입니다.")

you make me happy
내년에는 26 입니다.

In [160]:
n = input("당신의 나이를 입력하세요 >> ")
print(f"당신의 나이는 {n} 입니다.")
print("당신의 나이는", n, "입니다.")

당신의 나이를 입력하세요 >> 123
당신의 나이는 123 입니다.
당신의 나이는 123 입니다.

In [170]:
name = input("이름 >> ")
age = input("나이 >> ")
print(f"당신의 이름은 {name} 이고 나이는 {age} 입니다.")
print("당신의 이름은" , name, "이고 나이는", age, "입니다.")
print("당신의 이름은 %s 이고 나이는 %s 입니다." % (name, age))
print("당신의 이름은 {} 인고 나이는 {} 입니다.".format(name, age))

print(name, type(name))
print(age, type(age))

이름 >> qwer
나이 >> 123
당신의 이름은 qwer 이고 나이는 123 입니다.
당신의 이름은 qwer 이고 나이는 123 입니다.
당신의 이름은 qwer 이고 나이는 123 입니다.
당신의 이름은 qwer 인고 나이는 123 입니다.
qwer <class 'str'>
123 <class 'str'>

In [182]:
month = int(input("할부 개월 입력 >> "))
money = round(50000/month, 2)
print(f"{month}개월 동안 매달 내는 금액은 {money}원 입니다.")
print(month, "개월 동안 매달 내는 금액은", money,"원 입니다.")
print("%d개월 동안 매달 내는 금액은 %s원 입니다." % (month, money))
print("{}개월 동안 매달 내는 금액은 {}원 입니다.".format(month, money))

할부 개월 입력 >> 3
3개월 동안 매달 내는 금액은 16666.67원 입니다.
3 개월 동안 매달 내는 금액은 16666.67 원 입니다.
3개월 동안 매달 내는 금액은 16666.67원 입니다.
3개월 동안 매달 내는 금액은 16666.67원 입니다.

In [184]:
num1 = float(input("실수 1 >> "))
num2 = float(input("실수 2 >> "))
sum = num1 + num2
print(f"{num1}과 {num2}의 합계는 {sum}")

실수 1 >> 12.1
실수 2 >> 12.3
12.1과 12.3의 합계는 24.4