<a href="https://colab.research.google.com/github/thirdK/ai/blob/main/Day02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#인덱싱 (슬라이싱)
s = "world"
print(s[2])
print(s[-1]) #-1은 마지막 index를 가리킨다.

ss = "990212-2345243"
print(ss[7]) #하나만 추출할 때 indexing
addr = "서울시 강남구 역삼동 1번지"
print(addr[4:7]) #여러개를 추출할 때 slicing

r
d
2
강남구

In [ ]:
list = [1,2,3,4,5]
print(list)

score = [80, 90, 70, 60]
print(score)

print(score[0])
print(score[1:3])

score[0] = 100;
print(score)

list_a = [1,2,3]
list_b = [4,5,6]
print("list_a = ", list_a)
print("list_b = ", list_b)

print(list_a + list_b)
print(list_a * 3)
print(len(list_a))

[1, 2, 3, 4, 5]
[80, 90, 70, 60]
80
[90, 70]
[100, 90, 70, 60]
list_a =  [1, 2, 3]
list_b =  [4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
3

In [ ]:
list = []
list.append(90)
list.append(60)
list.append(30)
print(list)
list.insert(0, 10)
print(list)

[90, 60, 30]
[10, 90, 60, 30]

In [ ]:
list_a = [1, 2, 3]
list_a.extend([4, 5, 6])
list_a

[1, 2, 3, 4, 5, 6]

In [ ]:
list_a = [1, 2, 3]
list_b = [4, 5, 6]
list_a + list_b

[1, 2, 3, 4, 5, 6]

In [ ]:
list_a = [0,1,2,3,4,5]
del list_a[1]
list_a

[0, 2, 3, 4, 5]

In [ ]:
list = [222,434, 65, 123, 547, 876]
222 in list

True

In [ ]:
dict = {
    "name": "엔드게임",
    "type": "히어로 무비",
    "price": 10000
}
print(dict)
dict["name"]

{'name': '엔드게임', 'type': '히어로 무비', 'price': 10000}

'엔드게임'

In [ ]:
dict = {
    "감독": ["안토니", "루소"],
    "배우": ["타노스", "토르", "헐크"]
}
print(dict)
dict["감독"]

{'감독': ['안토니', '루소'], '배우': ['타노스', '토르', '헐크']}

['안토니', '루소']

In [ ]:
dict = {
    "name" : "건조 망고",
    "type" : "절임 과일",
    "ingredient" : ["망고", "설탕", "색소"],
    "origin" : "필리핀"
}

print("name:", dict["name"])
print("type:", dict["type"])
print("ingredient:", dict["ingredient"])
print("origin:", dict["origin"])

dict["name"] = "망고"
print(dict["name"])

print(dict["ingredient"][1])

dict["price"] = 5000

print(dict)

del dict["price"]
print(dict)

name: 건조 망고
type: 절임 과일
ingredient: ['망고', '설탕', '색소']
origin: 필리핀
망고
설탕
{'name': '망고', 'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀', 'price': 5000}
{'name': '망고', 'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀'}

In [ ]:
dict = {}

dict["name"] = "새이름"
dict["height"] = 185
dict["weight"] = 75

print(dict)
del dict["weight"]
print(dict)

{'name': '새이름', 'height': 185, 'weight': 75}
{'name': '새이름', 'height': 185}

In [ ]:
dict = {
    "name" : "건조 망고",
    "type" : "절임 과일",
    "ingredient" : ["망고", "설탕", "색소"],
    "origin" : "필리핀"
}

key = input("삭제하려는 데이터의 키값 >> ")

if key in dict:
  print(dict[key])
else:
  print("존재하지 않는 키에 접근하고 있습니다..")

삭제하려는 데이터의 키값 >> 123
존재하지 않는 키에 접근하고 있습니다..

In [ ]:
t = (1,2)
print(t)
print(type(t))

t2 = 3, 5
print(t2)
print(type(t2))

(1, 2)
<class 'tuple'>
(3, 5)
<class 'tuple'>

In [ ]:
set = {1,1,2,2,2,3,4}
print(set)
#특정 값을 꺼낼 수 없다.

{1, 2, 3, 4}

In [ ]:
s1 = set([1,1,2,3])
print(type(s1))
print(s1)

li = list(s1)
print(type(li))

<class 'set'>
{1, 2, 3}
<class 'list'>

In [ ]:
set1 = {1,2,3}
set2 = {2,3,4}

print(type(set1))
print(type(set2))

print(set1 & set2)
print(set1.intersection(set2))
print(set1 | set2)
print(set1.union(set2))
print(set1 - set2)
print(set1.difference(set2))

<class 'set'>
<class 'set'>
{2, 3}
{2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4}
{1}
{1}

In [ ]:
set1 = {1,2,3}
print(set1)
set1.add(4)
print(set1)

set1.update([5,6,7,8])
print(set1)

set1.remove(4)
print(set1)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 5, 6, 7, 8}

In [ ]:
# Q1 학번 31025 
stuNum = input("학번을 입력하세요(5자리) >> ")
print(f"{stuNum[0]}학년 {stuNum[1:3]}반 {stuNum[3:]}번")

학번을 입력하세요(5자리) >> 1234
1학년 23반 4번

In [ ]:
carNum = input("차량번호를 입력하세요 >> ")
print(f"{carNum}의 차량번호 끝 4자리는 {carNum[-4:]} 입니다.")

차량번호를 입력하세요 >> 1234
1234의 차량번호 끝 4자리는 1234 입니다.

In [ ]:
inputStr = input("홀수 갯수의 문자열 입력 >> ")
# num = int(len(inputStr)/2)
num = len(inputStr)//2  # //는 몫만 추출한다.
print(f"문자열 가운데 글자는 {inputStr[num]}입니다.")

홀수 갯수의 문자열 입력 >> 1234567
문자열 가운데 글자는 4입니다.

In [ ]:
listN = [1,2,3,4,5,6,7,8,9]
print(listN[2:7][1])

4

In [ ]:
if False:
    print("만족")
else:
    print("불만족")

불만족

In [ ]:
age = int(input("나이를 입력 >> "))
if age >= 18:
  print("당신은 성인입니다.")
else:
  print("당신은 성인이 아닙니다.")

나이를 입력 >> 123
당신은 성인입니다.

In [ ]:
age = int(input("나이를 입력 >> "))
if age < 10:
  print("당신은 유아입니다.")
elif age <20:
  print("당신은 10대입니다.")
elif age <30:
  print("당신은 20대입니다.")
elif age <40:
  print("당신은 30대입니다.")
elif age <50:
  print("당신은 40대입니다.") 
elif age <60:
  print("당신은 50대입니다.")
elif age <70:
  print("당신은 60대입니다.")
else:
  print("당신은 노인입니다..")

나이를 입력 >> 22
당신은 20대입니다.

In [ ]:
score = int(input("당신의 점수를 입력하세요 >> "))
gr = ""
if score >=90:
  gr = "A"
elif score >=80:
  gr = "B"
elif score >=70:
  gr = "C"
elif score >=60:
  gr = "D"
else:
  gr = "F"

print(f"당신의 점수는 {score}점 이고 학점은 {gr}학점입니다.")

당신의 점수를 입력하세요 >> 12
당신의 점수는 12점 이고 학점은 F학점입니다.

In [ ]:
num = int(input("정수 입력하세요 >> "))

if num%3==0:
  res = "입니다."
else:
  res = "가 아닙니다."

print(f"{num}은 3의 배수{res}")

정수 입력하세요 >> 16
16은 3의 배수가 아닙니다.

In [ ]:
num1 =  int(input("정수1 입력 >> "))
num2 =  int(input("정수2 입력 >> "))
num3 =  int(input("정수3 입력 >> "))

max = num1

if num2 > max:
  max = num2

if num3 > max:
  max = num3

print(f"가장 큰 수는 {max}입니다.")

정수1 입력 >> 5
정수2 입력 >> 89
정수3 입력 >> 4
가장 큰 수는 89입니다.